.about{
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    align-items: center !important;
}

.progress-sec{
    width: 60%;
}

.progress{
    background-color: #fcf9f9 !important;
}

.btn-danger{
    border-radius: 18px !important;
}
h3{
    position: relative;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-family: josef-bi;
}

h3::before,h3::after{
    content: "";
    height: 3px;
    background-color: #dc3545;
    left: 5px;
    position: absolute;
}
h3::before{
    width: 70px;;
    bottom: 0;
}
h3::after{
    width: 35px;
    bottom: -5px;
}

h4{
    padding-top:5px;
}

p{
    color: #605f5f;
}

.mailto{
    color: #605f5f;
}

/* Extra Small devices  */
@media (max-width: 575.98px) {
    .about{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .mailto{
        font-size: 13px;
    }
    .info-and-progress{
        flex-direction: column;
    }
    .progress-sec{
        width: 90%;
        margin: 20px auto;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width:732px){
    .about{
        margin: 0 !important;
        align-items: unset !important;
    }
    .info-and-progress{
        flex-direction: column;
    }
    .progress-sec{
        width: auto !important;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 733px) {
    .about{
        margin: 0 !important;
        align-items: flex-start !important;
    }
    .info-and-progress{
        width: 100%;
    }
    .progress-sec{
        width: 35%;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .about{
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    align-items: center !important;
    }
    .progress-sec{
        width: 50%;
    }
}