.Contact{
    margin: 0 30px;
}

.title{
    text-align: center;
    text-transform: capitalize;
    font-family: josef-r;
}

.tit{
    font-size: 30px;
    color: #dc3545;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.des{
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.inputs{
    display: flex;
    gap: 10px;
}

.Contact .card{
    width: auto !important;
    background-color:transparent !important;
    border: none !important;
}

.card-title{
    font-size: 20px !important;
    font-family: josef-bi;
}

.card-text{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 20px !important;
}

#HeadSpan{
    position: relative;
    font-size: 2rem !important;
    margin: 10px 20px !important;
    font-family: josef-bi;
    color: black;
}

#HeadSpan::before,#HeadSpan::after{
    content: "";
    height: 3px;
    background-color: #dc3545;
    left: 5px;
    position: absolute;
}
#HeadSpan::before{
    width: 70px;;
    bottom: 0;
}
#HeadSpan::after{
    width: 35px;
    bottom: -5px;
}

/* Extra Small devices  */
@media (max-width: 575.98px) {
    .Contact{
        margin: 0 !important;
    }
    .Contact .row{
        width: 100%;
        flex-direction: column;
    }
    .last-tit{
        font-size: 25px !important;
    }
    .last-des{
        font-size: 20px !important;
    }
    .inputs{
        display: unset;
    }
}