.porto{
    position: relative;
}

img{
    cursor: pointer;
    margin: 10px 0;
    width: 70%;
    margin: auto;
}

.head{
    margin: 20px !important;
    font-family: overpass-b;
}

.Carousel{
    width: 80%;
    margin: auto;
}

#span{
    color: black !important;
    font-size: 20px;
}

h6{
    position: relative;
    font-size: 2rem !important;
    font-family: josef-bi;
}

h6::before,h6::after{
    content: "";
    height: 3px;
    background-color: #dc3545;
    left: 5px;
    position: absolute;
}
h6::before{
    width: 70px;;
    bottom: 0;
}
h6::after{
    width: 35px;
    bottom: -5px;
}

@media (max-width: 575.98px){
    .carousel-indicators{
    display: none;
    }
}